.viewImage{
    // width: 100%;
    text-align: center;
    background-color:#2D3743 ;
}
.titleIn{
    background-color: #ffcc00;
    display:inline-block; 
    padding:5px;
     border-radius: 25px;
}